<div class="card-body show-main-links-comment">
  <h4 class="card-text"><span class="font-index">Nota:</span><%= comment.note %></h4>
  <h4 class="card-text"><span class="font-index">Comentário:</span> <%=comment.opinion %></h4>
  <h4 class="card-title"><span class="font-index">Assistido:</span> <%= comment.watched == true ? "Sim" : "Não" %></h4>
  <h4 class="card-title"><span class="font-index">Criado em:</span> <%= comment.created_at.strftime("%d-%m-%Y") %></h4>
  <h4 class="card-title"><span class="font-index">Filme:</span> <%= comment.movie.title %></h4>
</div>


