<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="mb-3">
      <%= form.label :titulo, style: "display: block", class:"form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :observações, style: "display: block", class:"form-label" %>
      <%= form.text_field :describe, class: "form-control" %>
      <div id="emailHelp" class="form-text">Observações sobre o filme</div>
    </div>
    <div class="mb-3">
      <%= form.label :genero, style: "display: block", class:"form-label" %>
      <%= form.select(:gender, listGender, { prompt: "Escolha um genero" }, {class:  "form-select"}) %>
    </div>
    <%= form.submit title, class:"btn btn-primary" %>
  </form>
<% end %>
